/*LOS MAS VENDIDOS*/
.losmasvendidos .grid-container{    
    grid-template-columns: repeat(6, 1fr);    
}  











/*PAGINA DE CONTACTO*/


.form-floating{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    border: none;
    
}

.form-control{
    background-color: #DCDCDC;
    color: white;
    border: none;
    justify-content: center;
    align-items: center;
}

form input:enabled{
    color: white;

}

label{
    color:#ED6F1A;
    justify-content: center;
    margin-top: 10px;
}

#floatingTextareaDisabled{
    color: white;

}

/*PAGINA DONDE ESTAMOS*/

p{
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

iframe{
    justify-content: center;
    align-items: center;
}