h1{    
    background-color: rgb(235, 200, 94);
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    font-weight:lighter;
    font-kerning: none;
    color: rgb(255, 255, 255);    
    display: flex;
    justify-content: center;
    padding: 50px 40px 50px 40px;
    margin-bottom: 20px;
    margin-top: 0px;
}


h2{
    font-family: 'Libre Bodoni', serif;
    font-size: xx-large;
    font-weight: 100;
    font-kerning: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 50px;
}



/*LANZAMIENTOS*/
.d-block{
    height: auto;
}


/*DESTACADOS*/


.destacados h2{
    background-color: #272727;
    padding-top: 20px;
    padding-bottom: 20px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 410px);
    row-gap: 35px;
    column-gap: 45px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;    
} 




.grid-item{
    justify-content: center;
    align-items: center;
    
      
}

.grid-item img{
    width: auto;
    height: 280px;
    object-fit: cover;
    padding-left: 25px;   
}


.grid-item:hover img{
    transform: scale(1.8);
}

.Info-producto{
    padding: 20px 10px;    
    display: flex;
    flex-direction: column;
    gap: 5px;   
}

.Info-producto h3{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    font-weight: 600;
    text-align: center;
}

.Info-producto a{
    background-color: black;
    border-radius: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    font-weight: bolder;
    padding: 10px;
    text-align: center;

}




/*LOS MAS VENDIDOS*/
.losmasvendidos .grid-container{    
    grid-template-columns: repeat(6, 1fr);    
}  





/*Footer*/

footer{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

footer h3{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: bold;    
}
#socialmedia a{
    font-family: 'Poppins', sans-serif;
    font-size: small;
    font-weight: bolder;
}

footer ul{
    padding: 15px 40px 15px 0px;
    margin: 5px 100px 5px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#direccion li p{
    width: 200px;
    margin-bottom: 5px;
    
}

#suscripcion li{
    width: 200px;
    margin-bottom: 5px;
}



#redes{
    width: 200px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

#socialmedia{
    margin-bottom: 5px;
    display: inline;
    align-self: center;
}



img{
    width: 100px;
    height: 35px;
}





/*PAGINA DE CONTACTO*/


.form-floating{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    border: none;
    
}

.form-control{
    background-color: #DCDCDC;
    color: white;
    border: none;
    justify-content: center;
    align-items: center;
}

form input:enabled{
    color: white;

}

label{
    color:#ED6F1A;
    justify-content: center;
    margin-top: 10px;
}

#floatingTextareaDisabled{
    color: white;

}

/*PAGINA DONDE ESTAMOS*/

p{
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

iframe{
    justify-content: center;
    align-items: center;
}