/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*LINKS*/
a {
  text-decoration: none;
}

/*BODY*/
body {
  background-color: rgb(242, 242, 242);
}

/*CONTACTO*/
label {
  font-family: "Poppins", sans-serif;
  font-size: medium;
  font-weight: 600;
}

input {
  font-family: "Poppins", sans-serif;
  font-size: small;
  font-weight: 100;
}

h1 {
  background-color: rgb(235, 200, 94);
  font-family: "Poppins", sans-serif;
  font-size: xx-large;
  font-weight: bold;
  font-kerning: none;
  color: #272727;
  display: flex;
  justify-content: center;
  padding: 50px 40px 50px 40px;
  margin-bottom: 5px;
  margin-top: 10px;
}

h2 {
  background-color: #272727;
  color: rgb(235, 200, 94);
  font-family: "Libre Bodoni", serif;
  font-size: xx-large;
  font-weight: 100;
  font-kerning: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 40px 50px 40px;
  margin-top: 90px;
  margin-bottom: 90px;
}

h3 {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: medium;
  font-weight: 600;
  text-align: center;
}

.btn {
  font-size: small;
  font-weight: 600;
  width: 70px;
  height: 35px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(235, 200, 94);
}
.btn:hover {
  background-color: #272727;
  color: rgb(235, 200, 94);
}

.btn2 {
  font-size: medium;
  background-color: rgb(235, 200, 94);
  border: 0px;
  border-radius: 20px;
  padding: 10px;
  color: white;
  font-weight: 600;
  width: 250px;
  margin-left: 15px;
}
.btn2:hover {
  background-color: #272727;
  color: rgb(235, 200, 94);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
}
header #container {
  display: flex;
  margin: 10px;
  padding: 5px 50px 5px 50px;
  align-items: center;
  justify-content: space-between;
}
header #container #Inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
header #container #Inicio img {
  width: 100px;
  height: 35px;
  margin-left: 50px;
}
header #container .Buscador .navbar {
  display: flex;
  border: none;
  padding: 0px;
  margin: 0px;
}
header #container .Buscador .navbar .container-fluid {
  margin: 0px;
  padding: 0px;
}
header #container .Buscador .navbar .container-fluid .d-flex {
  padding: 0px;
}
header #container .Buscador .navbar .container-fluid .d-flex .form-control {
  font-size: medium;
  width: 400px;
  height: 35px;
  border-radius: 5px;
  background-color: rgb(203, 203, 203);
}
header #container #Carrito {
  padding: 10px;
  margin: 50px;
}
header #container #Carrito img {
  width: 40px;
  max-height: 100%;
}
header nav {
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 30px 200px 30px 350px;
  margin-bottom: 0px;
}
header nav ul li {
  width: 100px;
  margin: 40px 40px 40px 40px;
  display: inline;
}
header nav ul li a {
  text-decoration: none;
  font-size: large;
  font-family: "Poppins";
  font-weight: normal;
  color: #272727;
  font-style: normal;
}

/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*LINKS*/
a {
  text-decoration: none;
}

/*BODY*/
body {
  background-color: rgb(242, 242, 242);
}

/*CONTACTO*/
label {
  font-family: "Poppins", sans-serif;
  font-size: medium;
  font-weight: 600;
}

input {
  font-family: "Poppins", sans-serif;
  font-size: small;
  font-weight: 100;
}

/*LANZAMIENTOS*/
.Lanzamientos .d-block {
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Footer*/
footer {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
footer ul {
  padding: 10px 40px 10px 0px;
  margin: 5px 100px 5px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul #direccion {
  width: 1fr;
}
footer ul #direccion ul {
  display: inline;
  margin: 5px;
}
footer ul #direccion ul li img {
  width: 100px;
  height: 35px;
  margin: 5px;
}
footer ul #direccion ul li p {
  width: 200px;
  margin: 2px 5px 2px 5px;
}
footer ul #suscripcion {
  width: 1fr;
}
footer ul #suscripcion ul li {
  width: 200px;
  margin-bottom: 5px;
}
footer ul #Redes {
  width: 1fr;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
footer ul #Redes #socialmedia {
  margin-bottom: 5px;
  display: inline;
  align-self: center;
}
footer ul #Redes #socialmedia li .Redes {
  text-decoration: none;
  font-size: small;
  font-family: "Poppins";
  font-weight: bold;
  color: #272727;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Nosotros {
  padding-top: 120px;
}

p {
  display: flex;
  justify-content: center;
  font-size: medium;
  font-family: "Poppins";
  font-weight: 100;
  color: #272727;
  font-style: normal;
  margin: 20px 120px 20px 120px;
  text-align: justify;
}

p {
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

iframe {
  justify-content: center;
  align-items: center;
  margin-left: 550px;
}

.btn {
  font-size: small;
  font-weight: 600;
  width: 70px;
  height: 35px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(235, 200, 94);
}
.btn:hover {
  background-color: #272727;
  color: rgb(235, 200, 94);
}

.btn2 {
  font-size: medium;
  background-color: rgb(235, 200, 94);
  border: 0px;
  border-radius: 20px;
  padding: 10px;
  color: white;
  font-weight: 600;
  width: 250px;
  margin-left: 15px;
}
.btn2:hover {
  background-color: #272727;
  color: rgb(235, 200, 94);
}

.Contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 150px;
}
.Contacto .Formulario {
  padding-top: 50px 55px;
  box-shadow: 0 0 15px rgb(73, 73, 73);
  border-radius: 20px;
  text-align: center;
  width: 1000px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.Contacto .Formulario .Input-group {
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.Contacto .Formulario .Input-group label {
  color: #272727;
  font-family: "Poppins", sans-serif;
  font-size: medium;
  font-weight: 600;
  padding-left: 20px;
}
.Contacto .Formulario .Input-group input, .Contacto .Formulario .Input-group textarea {
  margin: 10px;
  background-color: white;
  border-radius: 20px;
  border: 0px;
  padding: 10px;
  width: 500px;
}

.Autores {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Autores .Bio1 {
  display: inline;
}
.Autores .Bio1 img {
  max-width: 300px;
  height: auto;
  margin: 50px;
}
.Autores .Bio1 .p1 {
  background-color: #272727;
  color: white;
  padding: 0px 15px 0px 15px;
  width: 700px;
  height: 300px;
}
.Autores .Bio2 img {
  max-width: 300px;
  height: auto;
  margin: 50px;
}
.Autores .Bio2 .p2 {
  background-color: white;
  color: #272727;
  padding: 0px 15px 0px 15px;
  width: 700px;
  height: 300px;
}

.btn {
  font-size: small;
  font-weight: 600;
  width: 70px;
  height: 35px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(235, 200, 94);
}
.btn:hover {
  background-color: #272727;
  color: rgb(235, 200, 94);
}

.btn2 {
  font-size: medium;
  background-color: rgb(235, 200, 94);
  border: 0px;
  border-radius: 20px;
  padding: 10px;
  color: white;
  font-weight: 600;
  width: 250px;
  margin-left: 15px;
}
.btn2:hover {
  background-color: #272727;
  color: rgb(235, 200, 94);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 410px);
  row-gap: 35px;
  column-gap: 45px;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.grid-container .grid-item {
  justify-content: center;
  align-items: center;
}
.grid-container .grid-item img {
  width: auto;
  height: 280px;
  object-fit: cover;
  padding-left: 25px;
}
.grid-container .grid-item img:hover {
  transform: scale(1.8);
}
.grid-container .Info-producto {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.grid-container .Info-producto .Comprar {
  background-color: black;
  border-radius: 5px;
  font-size: medium;
  font-family: "Poppins";
  font-weight: bold;
  color: white;
  font-style: normal;
  padding: 10px;
  text-align: center;
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 410px);
  row-gap: 35px;
  column-gap: 45px;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.grid-container2 .grid-item {
  justify-content: center;
  align-items: center;
}
.grid-container2 .grid-item img {
  width: auto;
  height: 280px;
  object-fit: cover;
  padding-left: 25px;
}
.grid-container2 .grid-item img:hover {
  transform: scale(1.8);
}
.grid-container2 .Info-producto {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.grid-container2 .Info-producto .Comprar {
  background-color: black;
  border-radius: 5px;
  font-size: medium;
  font-family: "Poppins";
  font-weight: bold;
  color: white;
  font-style: normal;
  padding: 10px;
  text-align: center;
}

.grid-container3 {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  grid-template-rows: repeat(1, 410px);
  row-gap: 35px;
  column-gap: 45px;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.grid-container3 .grid-item {
  justify-content: center;
  align-items: center;
}
.grid-container3 .grid-item img {
  width: auto;
  height: 280px;
  object-fit: cover;
  padding-left: 25px;
}
.grid-container3 .grid-item img:hover {
  transform: scale(1.8);
}
.grid-container3 .Info-producto {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.grid-container3 .Info-producto .Comprar {
  background-color: black;
  border-radius: 5px;
  font-size: medium;
  font-family: "Poppins";
  font-weight: bold;
  color: white;
  font-style: normal;
  padding: 10px;
  text-align: center;
}

.grid-container4 {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(1, 410px);
  row-gap: 35px;
  column-gap: 45px;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.grid-container4 .grid-item {
  justify-content: center;
  align-items: center;
}
.grid-container4 .grid-item img {
  width: auto;
  height: 280px;
  object-fit: cover;
  padding-left: 25px;
}
.grid-container4 .grid-item img:hover {
  transform: scale(1.8);
}
.grid-container4 .Info-producto {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.grid-container4 .Info-producto .Comprar {
  background-color: black;
  border-radius: 5px;
  font-size: medium;
  font-family: "Poppins";
  font-weight: bold;
  color: white;
  font-style: normal;
  padding: 10px;
  text-align: center;
}

/*# sourceMappingURL=Style.css.map */
