/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*LINKS*/
a {
  text-decoration: none;
}

/*BODY*/
body {
  background-color: rgb(242, 242, 242);
}

h1 {
  background-color: #272727;
  font-family: "Poppins", sans-serif;
  font-size: xx-large;
  font-weight: lighter;
  font-kerning: none;
  color: rgb(235, 200, 94);
  display: flex;
  justify-content: center;
  padding: 50px 40px 50px 40px;
  margin-bottom: 20px;
  margin-top: 0px;
}

h2 {
  font-family: "Libre Bodoni", serif;
  font-size: xx-large;
  font-weight: 100;
  font-kerning: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

h3 {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: medium;
  font-weight: 600;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
}
header #container {
  display: flex;
  margin: 10px;
  padding: 5px 50px 5px 50px;
  align-items: center;
  justify-content: space-between;
}
header #container #Inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
header #container #Inicio img {
  width: 100px;
  height: 35px;
}
header #container .Buscador .navbar {
  display: flex;
  border: none;
  padding: 0px;
  margin: 0px;
}
header #container .Buscador .navbar .container-fluid {
  margin: 0px;
  padding: 0px;
}
header #container .Buscador .navbar .container-fluid .d-flex {
  padding: 0px;
}
header #container .Buscador .navbar .container-fluid .d-flex .form-control {
  font-size: small;
  width: 400px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(203, 203, 203);
}
header #container #Carrito {
  padding: 10px;
  margin: 50px;
}
header #container #Carrito img {
  width: 40px;
  max-height: 100%;
}
header nav {
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 30px 200px 10px 350px;
  margin-bottom: 0px;
}
header nav ul li {
  width: 100px;
  margin: 40px 40px 40px 40px;
  display: inline;
}
header nav ul li a {
  text-decoration: none;
  font-size: large;
  font-family: "Poppins";
  font-weight: normal;
  color: #272727;
  font-style: normal;
}

/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*LINKS*/
a {
  text-decoration: none;
}

/*BODY*/
body {
  background-color: rgb(242, 242, 242);
}

/*LANZAMIENTOS*/
.Lanzamientos .d-block {
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Footer*/
footer {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
footer ul {
  padding: 10px 40px 10px 0px;
  margin: 5px 100px 5px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul #direccion {
  width: 1fr;
}
footer ul #direccion ul {
  display: inline;
  margin: 5px;
}
footer ul #direccion ul li img {
  width: 100px;
  height: 35px;
  margin: 5px;
}
footer ul #direccion ul li p {
  width: 200px;
  margin: 2px 5px 2px 5px;
}
footer ul #suscripcion {
  width: 1fr;
}
footer ul #suscripcion ul li {
  width: 200px;
  margin-bottom: 5px;
}
footer ul #Redes {
  width: 1fr;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
footer ul #Redes #socialmedia {
  margin-bottom: 5px;
  display: inline;
  align-self: center;
}
footer ul #Redes #socialmedia li .Redes {
  text-decoration: none;
  font-size: small;
  font-family: "Poppins";
  font-weight: bold;
  color: #272727;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Nosotros {
  padding-top: 120px;
  background-color: rgb(39, 39, 39);
  background: linear-gradient(180deg, rgb(39, 39, 39) 0%, rgb(99, 99, 99) 67%, rgb(241, 241, 241) 100%);
}

p {
  display: flex;
  justify-content: center;
  font-size: medium;
  font-family: "Poppins";
  font-weight: 100;
  color: #272727;
  font-style: normal;
  margin: 20px 120px 20px 120px;
  text-align: justify;
}

.btn {
  font-size: small;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(235, 200, 94);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 410px);
  row-gap: 35px;
  column-gap: 45px;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.grid-container .grid-item {
  justify-content: center;
  align-items: center;
}
.grid-container .grid-item img {
  width: auto;
  height: 280px;
  object-fit: cover;
  padding-left: 25px;
}
.grid-container .grid-item img:hover {
  transform: scale(1.8);
}
.grid-container .Info-producto {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.grid-container .Info-producto .Comprar {
  background-color: black;
  border-radius: 5px;
  font-size: medium;
  font-family: "Poppins";
  font-weight: bold;
  color: white;
  font-style: normal;
  padding: 10px;
  text-align: center;
}

/*# sourceMappingURL=Styl.css.map */
