@charset "UTF-8";
/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*LINKS*/
a {
  text-decoration: none;
}

/*BODY*/
body {
  background-color: rgb(242, 242, 242);
}

/*CONTACTO*/
label {
  font-family: "Poppins", sans-serif;
  font-size: medium;
  font-weight: 600;
}

input {
  font-family: "Poppins", sans-serif;
  font-size: small;
  font-weight: 100;
}

/* Mixin Responsive */
h1 {
  background-color: rgb(235, 200, 94);
  font-family: "Libre Bodoni", serif;
  font-size: xx-large;
  font-weight: normal;
  font-kerning: none;
  color: #272727;
  display: flex;
  justify-content: center;
  padding: 50px 40px 50px 40px;
  margin-bottom: 0px;
  margin-top: 10px;
}

h2 {
  background-color: #272727;
  color: rgb(235, 200, 94);
  font-family: "Poppins", sans-serif;
  font-size: x-large;
  font-weight: 400;
  font-kerning: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 40px 50px 40px;
  margin-top: 90px;
  margin-bottom: 90px;
}

h3 {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: small;
  font-weight: 600;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  h3 {
    font-size: x-small;
    font-weight: 300;
  }
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  h3 {
    font-size: small;
  }
}

/* Mixin Responsive */
/* Mixin Responsive */
.btn {
  font-size: small;
  font-weight: 600;
  width: 70px;
  height: 35px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(235, 200, 94);
  padding: 0px;
}
.btn:hover {
  background-color: #272727;
  color: rgb(235, 200, 94);
}

.btn2 {
  font-size: medium;
  background-color: rgb(235, 200, 94);
  border: 0px;
  border-radius: 20px;
  padding: 10px;
  color: white;
  font-weight: 600;
  width: 250px;
  margin-left: 15px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .btn2 {
    width: 100px;
  }
}
.btn2:hover {
  background-color: #272727;
  color: rgb(235, 200, 94);
}

/*Suscribirse*/
#suscripcion {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
#suscripcion ul {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
#suscripcion ul li .campo {
  width: 350px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(218, 218, 218);
  color: white;
  border: none;
}
#suscripcion ul li .btn3 {
  font-size: small;
  font-weight: 600;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(235, 200, 94);
}
#suscripcion ul li .btn3:hover {
  background-color: #272727;
  color: rgb(235, 200, 94);
}

/* Mixin Responsive */
/* Mixin Responsive */
h1 {
  background-color: rgb(235, 200, 94);
  font-family: "Libre Bodoni", serif;
  font-size: xx-large;
  font-weight: normal;
  font-kerning: none;
  color: #272727;
  display: flex;
  justify-content: center;
  padding: 50px 40px 50px 40px;
  margin-bottom: 0px;
  margin-top: 10px;
}

h2 {
  background-color: #272727;
  color: rgb(235, 200, 94);
  font-family: "Poppins", sans-serif;
  font-size: x-large;
  font-weight: 400;
  font-kerning: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 40px 50px 40px;
  margin-top: 90px;
  margin-bottom: 90px;
}

h3 {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: small;
  font-weight: 600;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  h3 {
    font-size: x-small;
    font-weight: 300;
  }
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  h3 {
    font-size: small;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
}
header #container {
  display: flex;
  margin: 10px;
  padding: 5px 50px 5px 50px;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  header #container {
    justify-content: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  header #container {
    display: inline;
    justify-content: center;
  }
}
header #container #Inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
header #container #Inicio img {
  width: 100px;
  height: 35px;
  margin-left: 50px;
}
header #container .Buscador {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  header #container .Buscador {
    display: inline;
    width: 100px;
  }
}
header #container .Buscador .navbar {
  display: flex;
  border: none;
  padding: 10px;
  margin: 0px;
}
header #container .Buscador .navbar .container-fluid {
  margin: 0px;
  padding: 0px;
}
header #container .Buscador .navbar .container-fluid .d-flex {
  padding: 0px;
}
header #container .Buscador .navbar .container-fluid .d-flex .form-control {
  font-size: medium;
  width: 400px;
  height: 35px;
  border-radius: 5px;
  background-color: rgb(203, 203, 203);
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  header #container .Buscador .navbar .container-fluid .d-flex .form-control {
    font-size: small;
    width: 300px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  header #container .Buscador .navbar .container-fluid .d-flex .form-control {
    font-size: xx-small;
    width: 200px;
  }
}
header #container #Carrito {
  padding: 10px;
  margin: 50px;
}
header #container #Carrito img {
  width: 40px;
  max-height: 100%;
}
header nav {
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0px;
}
header nav ul li {
  width: 100px;
  margin: 40px 40px 40px 40px;
  display: inline;
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  header nav ul li {
    justify-content: center;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  header nav ul li {
    justify-content: center;
  }
}
header nav ul li a {
  text-decoration: none;
  font-size: large;
  font-family: "Poppins";
  font-weight: normal;
  color: #272727;
  font-style: normal;
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  header nav ul li a {
    font-size: small;
    font-family: "Poppins";
    font-weight: normal;
    color: #272727;
    font-style: normal;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  header nav ul li a {
    font-size: xx-small;
    font-family: "Poppins";
    font-weight: normal;
    color: #272727;
    font-style: normal;
  }
}

/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*LINKS*/
a {
  text-decoration: none;
}

/*BODY*/
body {
  background-color: rgb(242, 242, 242);
}

/*CONTACTO*/
label {
  font-family: "Poppins", sans-serif;
  font-size: medium;
  font-weight: 600;
}

input {
  font-family: "Poppins", sans-serif;
  font-size: small;
  font-weight: 100;
}

/*LANZAMIENTOS*/
.Lanzamientos .d-block {
  height: auto;
}

/* Mixin Responsive */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Footer*/
footer {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  align-items: center;
}
footer ul {
  padding: 10px 40px 10px 50px;
  margin: 5px 100px 5px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  footer ul {
    display: inline;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  footer ul {
    display: inline;
  }
}
footer ul #direccion {
  width: 300px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  footer ul #direccion {
    padding-left: 200px;
  }
}
footer ul #direccion ul {
  margin: 5px;
  justify-content: center;
}
footer ul #direccion ul li {
  display: inline;
  justify-content: center;
}
footer ul #direccion ul li img {
  width: 100px;
  height: 35px;
  margin: 5px;
  justify-content: center;
  align-items: center;
}
footer ul #direccion ul li p {
  width: 200px;
  margin: 2px 5px 2px 5px;
  font-size: medium;
  font-family: "Poppins";
  font-weight: normal;
  color: #272727;
  font-style: normal;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  footer ul #direccion ul li p {
    font-size: xx-small;
    font-family: "Poppins";
    font-weight: normal;
    color: #272727;
    font-style: normal;
  }
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  footer ul #direccion ul li p {
    font-size: x-small;
    font-family: "Poppins";
    font-weight: normal;
    color: #272727;
    font-style: normal;
  }
}
footer ul #suscripcion {
  width: 300px;
  margin-left: 50px;
  margin-right: 50px;
}
footer ul #suscripcion ul li {
  width: 200px;
  margin-bottom: 5px;
}
footer ul #suscripcion ul li .campo {
  font-size: small;
  font-family: "Poppins";
  font-weight: 100;
  color: #272727;
  font-style: normal;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  footer ul #suscripcion ul li .campo {
    width: 100px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  footer ul #suscripcion ul li .campo {
    width: 200px;
  }
}
footer ul #Redes {
  width: 300px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-left: 35px;
}
footer ul #Redes #socialmedia {
  margin-bottom: 5px;
  display: inline;
  align-self: center;
}
footer ul #Redes #socialmedia li .Redes {
  text-decoration: none;
  font-size: small;
  font-family: "Poppins";
  font-weight: bold;
  color: #272727;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Nosotros {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272727;
  padding-bottom: 50px;
}
.Nosotros .imgnosotros {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Nosotros .imgnosotros img {
  width: 50%;
  height: auto;
}
.Nosotros .Historia {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-family: "Poppins";
  font-weight: 100;
  color: white;
  font-style: normal;
  margin: 20px 120px;
  text-align: justify;
  max-width: 1000px;
  padding-top: 30px;
}

.dondeestamos {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.dondeestamos p {
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  width: 400px;
  margin-bottom: 20px;
}
.dondeestamos iframe {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 80px;
  width: 50%;
}

/* Mixin Responsive */
.btn {
  font-size: small;
  font-weight: 600;
  width: 70px;
  height: 35px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(235, 200, 94);
  padding: 0px;
}
.btn:hover {
  background-color: #272727;
  color: rgb(235, 200, 94);
}

.btn2 {
  font-size: medium;
  background-color: rgb(235, 200, 94);
  border: 0px;
  border-radius: 20px;
  padding: 10px;
  color: white;
  font-weight: 600;
  width: 250px;
  margin-left: 15px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .btn2 {
    width: 100px;
  }
}
.btn2:hover {
  background-color: #272727;
  color: rgb(235, 200, 94);
}

/*Suscribirse*/
#suscripcion {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
#suscripcion ul {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
#suscripcion ul li .campo {
  width: 350px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(218, 218, 218);
  color: white;
  border: none;
}
#suscripcion ul li .btn3 {
  font-size: small;
  font-weight: 600;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(235, 200, 94);
}
#suscripcion ul li .btn3:hover {
  background-color: #272727;
  color: rgb(235, 200, 94);
}

/* Mixin Responsive */
.Contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 150px;
}
.Contacto .Formulario {
  padding-top: 40px;
  box-shadow: 0 0 15px rgb(73, 73, 73);
  border-radius: 20px;
  text-align: center;
  width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.Contacto .Formulario .Input-group {
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.Contacto .Formulario .Input-group label {
  color: #272727;
  font-family: "Poppins", sans-serif;
  font-size: medium;
  font-weight: 600;
  padding-left: 20px;
}
.Contacto .Formulario .Input-group input, .Contacto .Formulario .Input-group textarea {
  margin: 10px;
  background-color: white;
  border-radius: 20px;
  border: 0px;
  padding: 10px;
  width: 500px;
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  .Contacto .Formulario .Input-group input, .Contacto .Formulario .Input-group textarea {
    width: 350px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .Contacto .Formulario .Input-group input, .Contacto .Formulario .Input-group textarea {
    width: 200px;
  }
}

.animate__animated.animate__fadeInLeftBig {
  --animate-duration: 5s;
}

.animate__animated.animate__fadeInRightBig {
  --animate-duration: 8s;
}

/* Mixin Responsive */
.btn {
  font-size: small;
  font-weight: 600;
  width: 70px;
  height: 35px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(235, 200, 94);
  padding: 0px;
}
.btn:hover {
  background-color: #272727;
  color: rgb(235, 200, 94);
}

.btn2 {
  font-size: medium;
  background-color: rgb(235, 200, 94);
  border: 0px;
  border-radius: 20px;
  padding: 10px;
  color: white;
  font-weight: 600;
  width: 250px;
  margin-left: 15px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .btn2 {
    width: 100px;
  }
}
.btn2:hover {
  background-color: #272727;
  color: rgb(235, 200, 94);
}

/*Suscribirse*/
#suscripcion {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
#suscripcion ul {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
#suscripcion ul li .campo {
  width: 350px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(218, 218, 218);
  color: white;
  border: none;
}
#suscripcion ul li .btn3 {
  font-size: small;
  font-weight: 600;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(235, 200, 94);
}
#suscripcion ul li .btn3:hover {
  background-color: #272727;
  color: rgb(235, 200, 94);
}

/* Mixin Responsive */
/*Index*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 410px);
  row-gap: 35px;
  column-gap: 45px;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 410px);
    row-gap: 25px;
    column-gap: 35px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 200px);
    row-gap: 30px;
    column-gap: 10px;
  }
}
.grid-container .grid-item {
  justify-content: center;
  align-items: center;
}
.grid-container .grid-item img {
  width: auto;
  height: 280px;
  object-fit: cover;
  padding-left: 25px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .grid-container .grid-item img {
    height: 120px;
  }
}
.grid-container .grid-item img:hover {
  transform: scale(1.8);
}
.grid-container .Info-producto {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .grid-container .Info-producto {
    padding: 10px 5px;
  }
}
.grid-container .Info-producto .Comprar {
  width: 1fr;
  background-color: black;
  border-radius: 5px;
  font-size: medium;
  font-family: "Poppins";
  font-weight: bold;
  color: white;
  font-style: normal;
  padding: 10px;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .grid-container .Info-producto .Comprar {
    font-size: x-small;
    font-family: "Poppins";
    font-weight: bold;
    color: white;
    font-style: normal;
    width: 150px;
  }
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  .grid-container .Info-producto .Comprar {
    font-size: x-small;
    font-family: "Poppins";
    font-weight: bold;
    color: white;
    font-style: normal;
  }
}

/*Temáticas*/
.grid-container2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 410px);
  row-gap: 35px;
  column-gap: 45px;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  .grid-container2 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 410px);
    row-gap: 15px;
    column-gap: 25px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .grid-container2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 410px);
    row-gap: 10px;
    column-gap: 20px;
  }
}
.grid-container2 .grid-item {
  justify-content: center;
  align-items: center;
}
.grid-container2 .grid-item img {
  width: auto;
  height: 280px;
  object-fit: cover;
  padding-left: 25px;
}
.grid-container2 .grid-item img:hover {
  transform: scale(1.8);
}
.grid-container2 .Info-producto {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200px;
}
.grid-container2 .Info-producto .Comprar {
  width: auto;
  background-color: black;
  border-radius: 5px;
  font-size: medium;
  font-family: "Poppins";
  font-weight: bold;
  color: white;
  font-style: normal;
  padding: 10px;
  text-align: center;
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  .grid-container2 .Info-producto .Comprar {
    font-size: small;
    font-family: "Poppins";
    font-weight: bold;
    color: white;
    font-style: normal;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .grid-container2 .Info-producto .Comprar {
    font-size: x-small;
    font-family: "Poppins";
    font-weight: bold;
    color: white;
    font-style: normal;
  }
}

.grid-container3 {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  grid-template-rows: repeat(1, 410px);
  row-gap: 35px;
  column-gap: 45px;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  .grid-container3 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 410px);
    row-gap: 15px;
    column-gap: 25px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .grid-container3 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 410px);
    row-gap: 10px;
    column-gap: 20px;
  }
}
.grid-container3 .grid-item {
  justify-content: center;
  align-items: center;
}
.grid-container3 .grid-item img {
  width: auto;
  height: 280px;
  object-fit: cover;
  padding-left: 25px;
}
.grid-container3 .grid-item img:hover {
  transform: scale(1.8);
}
.grid-container3 .Info-producto {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200px;
}
.grid-container3 .Info-producto .Comprar {
  width: auto;
  background-color: black;
  border-radius: 5px;
  font-size: medium;
  font-family: "Poppins";
  font-weight: bold;
  color: white;
  font-style: normal;
  padding: 10px;
  text-align: center;
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  .grid-container3 .Info-producto .Comprar {
    font-size: small;
    font-family: "Poppins";
    font-weight: bold;
    color: white;
    font-style: normal;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .grid-container3 .Info-producto .Comprar {
    font-size: x-small;
    font-family: "Poppins";
    font-weight: bold;
    color: white;
    font-style: normal;
  }
}

.grid-container4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 410px);
  row-gap: 35px;
  column-gap: 45px;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  .grid-container4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 410px);
    row-gap: 15px;
    column-gap: 25px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .grid-container4 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 410px);
    row-gap: 10px;
    column-gap: 20px;
  }
}
.grid-container4 .grid-item {
  justify-content: center;
  align-items: center;
}
.grid-container4 .grid-item img {
  width: auto;
  height: 280px;
  object-fit: cover;
  padding-left: 25px;
}
.grid-container4 .grid-item img:hover {
  transform: scale(1.8);
}
.grid-container4 .Info-producto {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200px;
}
.grid-container4 .Info-producto .Comprar {
  width: auto;
  background-color: black;
  border-radius: 5px;
  font-size: medium;
  font-family: "Poppins";
  font-weight: bold;
  color: white;
  font-style: normal;
  padding: 10px;
  text-align: center;
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  .grid-container4 .Info-producto .Comprar {
    font-size: small;
    font-family: "Poppins";
    font-weight: bold;
    color: white;
    font-style: normal;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .grid-container4 .Info-producto .Comprar {
    font-size: x-small;
    font-family: "Poppins";
    font-weight: bold;
    color: white;
    font-style: normal;
  }
}

/*Autores*/
.Autores {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
  margin-top: 50px;
  margin-bottom: 80px;
}
.Autores .grid-container5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0%;
}
.Autores .grid-container5 .grid-item2 {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0%;
  margin-bottom: 20px;
  margin-top: 20px;
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  .Autores .grid-container5 .grid-item2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .Autores .grid-container5 .grid-item2 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.Autores .grid-container5 .grid-item2 .animate__animated {
  height: 400px;
  width: 1350px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  .Autores .grid-container5 .grid-item2 .animate__animated {
    width: 80%;
    height: auto;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .Autores .grid-container5 .grid-item2 .animate__animated {
    width: 80%;
  }
}
.Autores .grid-container5 .grid-item2 .animate__animated img {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 0%;
  margin: 0;
}

/*# sourceMappingURL=Style.css.map */
