@import '../Utilities/mixin';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Footer*/

footer{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
        ul{
            padding: 10px 40px 10px 0px;
            margin: 5px 100px 5px 100px;
            display: flex;
            justify-content: center;
            align-items: center;
                #direccion{
                    width: 1fr;
                    ul{
                        display: inline;
                        margin: 5px;
                        li{                        
                            img{
                                width: 100px;
                                height: 35px;
                                margin: 5px;
                            }
                            p{
                                width: 200px;
                                margin: 2px 5px 2px 5px;
                            }
                        } 
                    }
                    
                }
                #suscripcion{
                    width: 1fr;
                    ul{
                        li{
                            width: 200px;
                            margin-bottom: 5px
                        }
                    }
                }
                #Redes{
                    width:1fr;
                    margin-bottom: 5px;
                    display: flex;
                    justify-content: center;
                    text-decoration: none;
                    #socialmedia{
                        margin-bottom: 5px;
                        display: inline;
                        align-self: center;
                            li{
                                .Redes{
                                    text-decoration: none;
                                    @include fuente-links(small, 'Poppins', bold , #272727, normal)
                                }
                            }
                            
                    }
                }          
            
        }
}