@import '../Utilities/mixin';
@import '../Components/Botones';
@import '../Base/Media';
@import '../Base/Font';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding-top: 20px;
    padding-bottom: 20px;
        #container{
            display: flex;
            margin: 10px;
            padding: 5px 50px 5px 50px;
            align-items: center;
            justify-content: space-between;
            @include tablet{
                justify-content: center;   
            }
            @include mobile{
                display: inline;
                justify-content: center;   
            }
            
            //INICIO
                #Inicio{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 20px;
                        img{
                            width: 100px;
                            height: 35px;
                            margin-left: 50px;
                        }
                }
                //BUSCADOR
                .Buscador{
                    display: flex;
                    justify-content: center;
                    @include mobile{
                        display:inline;                        
                        width: 100px;   
                    } 
                    .navbar{
                        display: flex;
                        border: none;
                        padding: 10px;
                        margin: 0px;
                            .container-fluid{
                                margin: 0px;
                                padding: 0px;
                                .d-flex{
                                    padding: 0px;
                                    .form-control{
                                        font-size: medium;
                                        width: 400px;
                                        height: 35px;
                                        border-radius: 5px;
                                        background-color: rgb(203, 203, 203); 
                                        @include tablet{
                                            font-size: small;
                                            width: 300px;   
                                        }
                                        @include mobile{
                                            font-size: xx-small;
                                            width: 200px;   
                                        }                                           
                                    }
                                }
                            }
                    }
                }    
                //CARRITO
                #Carrito{                       
                    padding: 10px;
                    margin: 50px;
                        img{
                            width: 40px;
                            max-height: 100%;
                        }
                }                                       
        }
        nav{
            display: flex;
            justify-content: center;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            padding-top: 30px;
            padding-bottom: 30px;
            margin-bottom: 0px;
            
                ul{
                    li{
                        width: 100px;
                        margin: 40px 40px 40px 40px;
                        display: inline;
                        @include tablet{
                            justify-content: center;   
                        }
                        @include mobile{
                            justify-content: center;   
                        }
                            a{
                                text-decoration: none;
                                @include fuente-links(large, 'Poppins', normal, #272727, normal);
                                @include tablet{
                                    @include fuente-links(small, 'Poppins', normal, #272727, normal);   
                                }
                                @include mobile{
                                    @include fuente-links(xx-small, 'Poppins', normal, #272727, normal);   
                                }                               
                            } 
                    }
                }
        }
        

}