@import '../Utilities/mixin';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Nosotros {
    padding-top: 80px;
    display: flex;
    flex-direction: column;     
    align-items: center;
    background-color: #272727;
    padding-bottom: 50px;
    .imgnosotros {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 50%;
            height: auto;
        }
    }

    .Historia {
        display: flex;
        justify-content: center;
        align-items: center;
        @include fuente-links(medium, 'Poppins', 100, white, normal);
        margin: 20px 120px; 
        text-align: justify;        
        max-width: 1000px; 
        padding-top: 30px;
    }
}



