@import '../Utilities/mixin';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Nosotros {
    
    padding-top: 120px;
    
}

p{
    display: flex;
    justify-content: center;   
    @include fuente-links(medium, 'Poppins', 100, #272727, normal);
    margin: 20px 120px 20px 120px;
    text-align: justify;

    
}