/*Index*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 410px);
    row-gap: 35px;
    column-gap: 45px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    .grid-item {
        justify-content: center;
        align-items: center;

        img {
            width: auto;
            height: 280px;
            object-fit: cover;
            padding-left: 25px;

            &:hover {
                transform: scale(1.8);
            }
        }
    }

    .Info-producto {
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .Comprar {
            background-color: black;
            border-radius: 5px;
            @include fuente-links(medium, 'Poppins', bold, white, normal);
            padding: 10px;
            text-align: center;
        }
    }
}


/*Temáticas*/
.grid-container2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 410px);
    row-gap: 35px;
    column-gap: 45px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    .grid-item {
        justify-content: center;
        align-items: center;

        img {
            width: auto;
            height: 280px;
            object-fit: cover;
            padding-left: 25px;

            &:hover {
                transform: scale(1.8);
            }
        }
    }

    .Info-producto {
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .Comprar {
            background-color: black;
            border-radius: 5px;
            @include fuente-links(medium, 'Poppins', bold, white, normal);
            padding: 10px;
            text-align: center;
        }
    }
}  


.grid-container3 {
    display: grid;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: repeat(1, 410px);
    row-gap: 35px;
    column-gap: 45px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    .grid-item {
        justify-content: center;
        align-items: center;

        img {
            width: auto;
            height: 280px;
            object-fit: cover;
            padding-left: 25px;

            &:hover {
                transform: scale(1.8);
            }
        }
    }

    .Info-producto {
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .Comprar {
            background-color: black;
            border-radius: 5px;
            @include fuente-links(medium, 'Poppins', bold, white, normal);
            padding: 10px;
            text-align: center;
        }
    }
}

.grid-container4 {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(1, 410px);
    row-gap: 35px;
    column-gap: 45px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    .grid-item {
        justify-content: center;
        align-items: center;

        img {
            width: auto;
            height: 280px;
            object-fit: cover;
            padding-left: 25px;

            &:hover {
                transform: scale(1.8);
            }
        }
    }

    .Info-producto {
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .Comprar {
            background-color: black;
            border-radius: 5px;
            @include fuente-links(medium, 'Poppins', bold, white, normal);
            padding: 10px;
            text-align: center;
        }
    }
}

/*Autores*/

.Autores {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;    
    margin-top: 50px;
    margin-bottom: 80px;
    
    .grid-container5 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0%;
        
        .grid-item2 {
            margin-bottom: 10px;
            margin-top: 10px;                   
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0%;
            margin-bottom: 20px;
            margin-top: 20px;
                                   
            .animate__animated {
                height: 400px;
                width: 1350px;
                padding: 0;                
                display: flex;
                align-items: center;
                justify-content: center;
                
                
                img {
                    max-width: 100%;
                    height: auto;                    
                    display: block;
                    padding: 0%;
                    margin: 0;
                }
            }      
            
           
        }    
    }
}
