h1{    
    background-color: #272727;
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    font-weight:lighter;
    font-kerning: none;
    color: rgb(235, 200, 94);    
    display: flex;
    justify-content: center;
    padding: 50px 40px 50px 40px;
    margin-bottom: 20px;
    margin-top: 0px;
}

h2{
    font-family: 'Libre Bodoni', serif;
    font-size: xx-large;
    font-weight: 100;
    font-kerning: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 50px;
}

h3{
    
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size:medium;
    font-weight: 600;
    text-align:center;

}