@import '../Base/Media';

h1{    
    background-color: rgb(235, 200, 94);
    font-family: 'Libre Bodoni', serif;
    font-size: xx-large;
    font-weight: normal;
    font-kerning: none;
    color: #272727;    
    display: flex;
    justify-content: center;
    padding: 50px 40px 50px 40px;
    margin-bottom:0px;
    margin-top: 10px;
}

h2{
    background-color: #272727;
    color: rgb(235, 200, 94);
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    font-weight: 400;
    font-kerning: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 40px 50px 40px;
    margin-top: 90px;
    margin-bottom: 90px;
}

h3{
    
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size:small;
    font-weight: 600;
    text-align:center;
    @include mobile{
        font-size:x-small;
        font-weight: 300;
    }
    @include tablet{
        font-size: small;
    }

}